<style>
  img {
  border: 1px solid
  }
  body { 
    background-image: url(https://repository-images.githubusercontent.com/214671270/23f88b80-ed18-11e9-8a21-0a636b193f08)

  }
  hr.new5 {
 	border: 0;
	border-top: 1px solid #094CFA;
  border-inline-start: springgreen;
}
  button.sc {
    background-color: whitesmoke;
    border-color: rgb(0, 0, 0);
  }
  body.a {
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
  }
</style>

<template>

  <HelloWorld msg="Site em construção" />
</template>

<script setup>
import HelloWorld from './components/HelloWorld.vue'
</script>


<script>
export default {
  
}
</script>
<style>
#app {
  font-family: "Fruktur", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  margin-top: 100px;
  display: block;
  text-align: center;
  width: 100%;
  padding: 17;
  margin-top: 270px;
  background-color: whitesmoke;
  opacity: 0.4;
  border: 1px solid;
}
</style>